

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 60px; /* Espaço para evitar sobreposição com a barra de navegação */
}

  /* Estilização dos links na barra lateral */
  .sidebar a {
    padding: 10px 15px;
    display: block;
    color: #333;
    text-decoration: none;
}

  /* Estilização dos links ativos */
  .sidebar a.active {
    background-color: #007bff;
    color: #fff;
}

  /* Estilização do conteúdo */
  .content {
    margin-left: 250px; /* A mesma largura da barra lateral */
    padding: 20px;
}